@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  height: 8rem;
  display: block;
  margin: auto;
  fill: #d8d9e0;
}
.loading path {
  transform-origin: center;
  animation: spin 1s linear infinite;
}

.button {
  display: block;
  min-width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2rem;
  border: none;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  background-color: var(--accent);
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: lighten(#e535ab, 0.2);
  }
  &:active {
    background-color: lighten(#e535ab, 0.4);
  }
}

.email-form {
  label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  input {
    border: 2px solid var(--primary);
    border-radius: 4px;
    color: var(--text);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
    &::placeholder {
      color: var(--text-secondary);
    }
  }
}
