:root {
  --primary: '#143055';
  --secondary: '#14cbc4';
  --accent: '#e535ab';
  --background: '#f7f8fa';
  --grey: '#d8d9e0';
  --text: '#343c5a';
  --textSecondary: '#747790';

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}
h1 {
  font-size: 48px;
  line-height: 1;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 36px;
}
h5 {
  font-size: 16;
  text-transform: uppercase;
  letter-spacing: 4;
}
